body {
background-color: #1C3879;
background: url('images/worldmap.jpeg');
font-family: 'Open Sans', sans-serif;
}

.bodyChosen {
    background-image: none;
    background-color: #EAE3D2;
}

select {
    padding: 5px 10px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    background-color: #EAE3D2;;
}

.selectChosen {
    margin-bottom: 8px;
}

.selectOptions {
    width: 80%;
    margin: 0 auto;
}

h1, h2 {
font-family: 'Ubuntu Condensed', sans-serif;
color: #EAE3D2;
}

h1 {
    font-size: 40px;
    margin: 15px 0;
}

h2 {
    margin: 0 0 5px 0;
    font-size: 32px;
}


.selectContainer {
background-color: #1C3879;
max-width: 600px;
text-align: center;
margin: 0 auto;
margin-top: 50px;
padding: 5px 0;
border-radius: 15px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container {
    background-color: #1C3879;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px 0;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.currentChosen {
    background: url('images/worldmap.jpeg');
}

.cuzcoChosen {
    background: url('images/Cuzco.jpeg');
}

.kigaliChosen {
    background: url('images/kigali.jpeg');
}

.osloChosen {
    background: url('images/Oslo.jpeg');
}

.sydneyChosen {
    background: url('images/sydney.jpeg');
}

.taipeiChosen {
    background: url('images/Taiwan2.jpeg');
}

.currentChosen,
.cuzcoChosen, .kigaliChosen, .osloChosen, .sydneyChosen, .taipeiChosen {
    background-size: cover;
    background-position: center;
    padding: 0 0 180px 0;
}

.city, .selectedCity {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    color: #F9F5EB;
}

.selectedCity {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    padding: 0 10px 10px 0;
}

.city {
    border-bottom: 1px dashed #EAE3D2;
}

.city:last-child {
    border: none;
}

img {
    margin-left: 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cityImage {
    max-width: 100px;
}

.defaultCity {
    display: flex;
    text-align: left;
}

.cityNameDate, .time {
    margin-top: 10px;
}

.cityNameDate {
    margin-left: 15px;
}

.date {
 color: #EAE3D2;
}

.time {
    font-size: 38px;
    font-weight: bolder;
    margin-right: 5px;
    color: #EAE3D2;
}

.time small {
    font-size: 20px;
    font-weight: lighter;
    vertical-align: middle;
}

.backToOverview {
    text-align: left;
}

.backButton {
    display: inline-block;
    color: #EAE3D2;
    font-size: 12px;
    margin-bottom: 10px;
    text-decoration: none;
}

.darkText {
    color: #1C3879;
}

footer {
    font-size: 12px;
    width: fit-content;
    margin: 0 auto;
    opacity: 0.6;
    background-color: #EAE3D2;
    color: #1C3879;
    padding: 1px 4px;
    border-radius: 3px;
}